
.container{
    width:1140px;
    margin:0 auto;
}
h1{
    font-size:55px;
}
.content,.content-2{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.left{
    width:50%;
}
.right{
    width: 25%;
}
.right img{
    width: 100%;
}
.item{
    margin-left: 100px;
    width:150px
}