@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
.container{
    width:1140px;
    margin:0 auto;
    font-family:Roboto;
}
h1{
    font-size:55px;
}
.content,.content-2{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.left{
    width:50%;
}
.right{
    width: 25%;
}
.right img{
    width: 100%;
}
.item{
    margin-left: 100px;
    width:150px
}
